/*------------------------------
1: GENERELT
3: MENU
2: KLASSER
------------------------------*/


/*------------------------------
1: GENERELT
------------------------------*/

body {
    margin: 0;
    background-color: #f8f8f8;
}

img {
    width: 100%;
}

p {
    font-family: 'Muli', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    margin: 0;
}

a {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    margin: 0;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

h2 {
    font-family: 'Pinyon Script', cursive;
    margin: 0;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

h4 {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

footer {
    background-color: #acd6c4;
    height: 8vw;
}

/*------------------------------
3: KLASSER
------------------------------*/

.rotate {
    transform: rotate(90deg);
}

.hidden {
    visibility: hidden;
}

.closed {
    animation-name: close_kf;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;

}

@keyframes close_kf {
    0% {
        background-image: url(billeder/cross.svg);
    }

    100% {
        background-image: url(billeder/burger.svg);
    }
}


.open {
    animation-name: open_kf;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes open_kf {
    100% {
        background-image: url(billeder/cross.svg);
    }
}

/*------------------------------
1: BURGER MENU (MOBILE)
------------------------------*/

#menu_button {
    position: fixed;
    background-image: url(billeder/burger.svg);
    background-size: cover;
    height: 10vw;
    width: 10vw;
    top: 3vw;
    left: 86vw;
    z-index: 3;
}

.menu_background {
    background-color: #acd6c4;
    top: 22vw;
    left: 0vw;
    height: 8vw;
    width: 100vw;
    position: fixed;
    z-index: 1;

}

.alm_menu {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 1.5vw;
}

.underline {
    height: 0.2vw;
    width: 90vw;
    background-color: #0c0c0c;
    z-index: 1;
    position: absolute;
    top: 5.5vw;
    left: 5vw;

}

nav a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}


a:link {
    text-decoration: none;
    color: #0c0c0c;
}

a:visited {
    color: #0c0c0c;
}


/*------------------------------
: HEADLINE
------------------------------*/

#portfolio .headline,
#web .headline,
#ux .headline,
#animation .headline,
#content .headline,
#site .headline,
#data .headline,
#prototype .headline,
#sprint .headline,
#asset .headline,
#ani_opg .headline,
#billeddeling .headline,
#pilotvideo .headline,
#redesign .headline {
    position: fixed;
    background-color: #acd6c4;
    height: 23vw;
    width: 100vw;
    z-index: 2;

}

#portfolio h1,
#web h1,
#ux h1,
#animation h1,
#content h1,
#site h1,
#data h1,
#prototype h1,
#sprint h1,
#asset h1,
#ani_opg h1,
#billeddeling h1,
#pilotvideo h1,
#redesign h1 {
    color: #3e9d87;
    font-size: 16vw;
    left: 11vw;
    top: 6vw;
    position: absolute;
}

#portfolio h2,
#web h2,
#ux h2,
#animation h2,
#content h2,
#site h2,
#data h2,
#prototype h2,
#sprint h2,
#asset h2,
#ani_opg h2,
#billeddeling h2,
#pilotvideo h2,
#redesign h2 {
    color: #ffffff;
    font-size: 8vw;
    top: 12vw;
    left: 4vw;
    position: absolute;

}

/*------------------------------
: PORTFOLIO
------------------------------*/

#portfolio .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 30vw 5vw;
}

#portfolio .col {
    height: 90vw;

}

#portfolio .image {
    position: relative;
    padding: 10vw 5vw 0vw;
}

#portfolio .frame {
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 0.3vw;
    width: 80vw;
    height: 53vw;
    left: 2.5vw;
    top: 8vw;
}

#portfolio .text {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 85vw;
    height: 30vw;
    top: -67vw;
    left: 2vw;
}

#portfolio h3 {
    color: #3e9d87;
    font-size: 18vw;
    padding-left: 10vw;
}

#portfolio h4 {
    font-size: 4vw;
    padding: 5vw 1vw;
}

#portfolio .text p {
    padding-top: 48vw;
}

#portfolio .image p {
    position: absolute;
    top: 55vw;
    left: 50vw;
    color: #3e9d87;
}

#portfolio .space {
    height: 0.3vw;
    width: 89vw;
    background-color: #0c0c0c;
    margin-bottom: 10vw;
    margin-top: 10vw;
}

/*------------------------------
: GRUNDLÆGGENDE WEB, UX, ANIMATION & CONTENT
------------------------------*/

#web h3,
#ux h3,
#animation h3,
#content h3 {
    font-size: 3rem;
    margin: 0;
    position: absolute;
    top: -7vw;
    left: 20vw;
    z-index: 1;
}

#web .sectionwrapper,
#ux .sectionwrapper,
#animation .sectionwrapper,
#content .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5vw 10vw;
}

#web .col_wide,
#ux .col_wide,
#animation .col_wide,
#content .col_wide {
    padding: 30vw 5vw 3vw 5vw;
}

#web .bottom,
.top,
#ux .bottom,
top,
#animation .bottom,
top,
#content .bottom,
.top {
    position: relative;
}

#web .col_narrow,
#ux .col_narrow,
#animation .col_narrow,
#content .col_narrow {
    padding: 5vw 5vw 25vw;
}

#web .bottom p,
#ux .bottom p,
#animation .bottom p,
#content .bottom p {
    position: absolute;
    top: 15vw;
    left: 6vw;
}

#web .box,
#ux .box,
#animation .box,
#content .box {
    height: 10vw;
    width: 70vw;
    background-color: #3e9d87;
}

#web .frame,
#ux .frame,
#animation .frame,
#content .frame {
    position: absolute;
    height: 9vw;
    width: 69vw;
    background-color: transparent;
    border-style: solid;
    border-width: 0.5vw;
    border-color: 0c0c0c;
    top: -2vw;
    left: -2vw;
}

#web .line,
#ux .line,
#animation .line,
#content .line {
    position: absolute;
    height: 18vw;
    width: 0.5vw;
    top: 5vw;
    left: 3vw;
    background-color: #0c0c0c;
}





@media only screen and (min-width:900px) {


    footer {
        margin-top: 10vw;
        height: 3vw;
    }

    /*------------------------------
ALMINDELIG MENU
------------------------------*/

    #menu_button {
        visibility: hidden;
    }


    .underline {
        height: 0.12vw;
        width: 40vw;
        transform: rotate(90deg);
        margin: -3vw 0vw 0vw -1vw;
    }

    nav {
        position: fixed;
        right: -21vw;
        top: 20vw;
        z-index: 3;
        width: 50vw;
    }

    nav a {
        font-size: 1.2vw;
    }

    .alm_menu {
        transform: rotate(90deg);
        display: flex;
        justify-content: space-around;
        align-content: flex-start;
    }




    /*------------------------------
: HEADLINE
------------------------------*/
    #portfolio .headline,
    #web .headline,
    #ux .headline,
    #animation .headline,
    #content .headline,
    #site .headline,
    #data .headline,
    #prototype .headline,
    #sprint .headline,
    #asset .headline,
    #ani_opg .headline,
    #billeddeling .headline,
    #pilotvideo .headline,
    #redesign .headline {
        height: 9.5vw;
        margin-top: 2vw;
        position: relative;
    }

    #portfolio h1,
    #web h1,
    #ux h1,
    #animation h1,
    #content h1,
    #site h1,
    #data h1,
    #prototype h1,
    #sprint h1,
    #asset h1,
    #ani_opg h1,
    #billeddeling h1,
    #pilotvideo h1,
    #redesign h1 {
        font-size: 8vw;
        left: 11vw;
        top: 0vw;
    }

    #portfolio h2,
    #web h2,
    #ux h2,
    #animation h2,
    #content h2,
    #site h2,
    #data h2,
    #prototype h2,
    #sprint h2,
    #asset h2,
    #ani_opg h2,
    #billeddeling h2,
    #pilotvideo h2,
    #redesign h2 {
        font-size: 3.5vw;
        top: 3.5vw;
        left: 6vw;
    }


    /*------------------------------
: PORTFOLIO
------------------------------*/

    #portfolio .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 6vw;
    }

    #portfolio .image {
        top: 0vw;
        left: 28vw;
        width: 55vw;
        padding: 0;
    }

    #portfolio .text {
        width: 50vw;
        height: 1vw;
        top: -35vw;
        left: 4vw;
        padding-top: 5vw;
    }

    #portfolio .frame {
        width: 54vw;
        height: 36vw;
        left: -1.5vw;
        top: -1.8vw;
    }

    #portfolio h3 {
        font-size: 8vw;
        padding: 0;
    }

    #portfolio h4 {
        font-size: 2vw;
        padding: 5vw 0 0 1vw;
    }

    #portfolio .text p {
        width: 38vw;
        font-size: 1.5vw;
        padding: 0;
        position: absolute;
        top: 13vw;
    }

    #portfolio .text_reverse {
        left: 42.4vw;
    }

    #portfolio .image_reverse {
        left: 0vw;
    }

    #portfolio .frame_reverse {
        left: 1.8vw;
    }

    #portfolio .space {
        height: 0.12vw;
        width: 85vw;
        background-color: #0c0c0c;
        margin-bottom: 7vw;
    }

    #portfolio .col {
        height: 43vw;
    }

    #portfolio .image p {
        position: absolute;
        left: 45vw;
        top: 35vw;
        font-size: 1.2vw;
        color: #3e9d87;
    }

    #portfolio p.reverse {
        left: 7vw;
    }

    /*------------------------------
: GRUNDLÆGGENDE WEB, UX, ANIMATION & CONTENT
------------------------------*/

    #web h3,
    #ux h3,
    #animation h3,
    #content h3 {
        top: -2.2vw;
        left: 5.5vw;
    }

    #web .sectionwrapper,
    #ux .sectionwrapper,
    #animation .sectionwrapper,
    #content .sectionwrapper {
        flex-wrap: nowrap;
    }

    #web .col_wide,
    #ux .col_wide,
    #animation .col_wide,
    #content .col_wide {
        padding: 5vw 30vw 3vw 5vw;
    }

    #web .col_narrow,
    #ux .col_narrow,
    #animation .col_narrow,
    #content .col_narrow {
        padding: 0 3vw;
    }

    #web .bottom p,
    #ux .bottom p,
    #animation .bottom p,
    #content .bottom p {
        top: 8.3vw;
        left: 1.5vw;
    }

    #web .box,
    #ux .box,
    #animation .box,
    #content .box {
        height: 5vw;
        width: 20vw;
        background-color: #3e9d87;
    }

    #web .frame,
    #ux .frame,
    #animation .frame,
    #content .frame {
        height: 4.5vw;
        width: 19.5vw;
        border-width: 0.18vw;
        top: -0.7vw;
        left: -0.7vw;
    }

    #web .line,
    #ux .line,
    #animation .line,
    #content .line {
        height: 8vw;
        width: 0.18vw;
        top: 2.5vw;
        left: 0.5vw;
    }

    /*------------------------------
: OPGAVER
------------------------------*/

    #site .col,
    #data .col,
    #prototype .col,
    #sprint .col,
    #asset .col,
    #ani_opg .col,
    #billeddeling .col {
        display: flex;
        flex-wrap: nowrap;
    }

    #site .left,
    #data .left,
    #prototype .left,
    #sprint .left,
    #asset .left,
    #ani_opg .left,
    #billeddeling .left {
        flex-grow: 1;
        flex-basis: 500px;
        padding: 10vw 5vw 10vw 10vw;
    }

    #site .right,
    #data .right,
    #prototype .right,
    #sprint .right,
    #asset .right,
    #ani_opg .right,
    #billeddeling .right {
        flex-grow: 1;
        flex-basis: 400px;
        padding: 5vw 1vw 5vw 0;
    }

    #site img,
    #data img,
    #prototype img,
    #sprint img,
    #asset img,
    #ani_opg img,
    #billeddeling img {
        height: 25vw;
        width: auto;
    }

    #site .frame,
    #data .frame,
    #prototype .frame,
    #sprint .frame,
    #asset .frame,
    #ani_opg .frame,
    #billeddeling .frame {
        position: absolute;
        background-color: transparent;
        border-style: solid;
        border-width: 0.18vw;
        width: 24.5vw;
        height: 24.5vw;
        left: 59vw;
        top: 15vw;

    }

    #site .line,
    #date .line,
    #prototype .line,
    #sprint .line,
    #asset .line,
    #ani_opg .line,
    #billeddeling .line {
        position: absolute;
        height: 0.18vw;
        width: 17vw;
        top: 19vw;
        left: 48vw;
        background-color: #0c0c0c;
    }

}
